<p id="notice"><%= notice %></p>

<p>
  <strong>Tytuł:</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>Adres URL:</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>Użytkownik:</strong>
  <%= @bookmark.user_id %>
</p>

<%= link_to 'Edytuj', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Cofnij', bookmarks_path %>
